@charset "UTF-8";

@media screen and (min-width: 100px) and (max-width:668px) {

    header > nav > div > a > img {
        width: 40%;
        position: relative;
        bottom: 6%;
        left: 10%;
    }

    nav {
        width: 100vw;
    }

    .menu-container {
        position: relative;
        right: 7%;
        bottom: 60%;
    }

    .ul-sub {
        position: fixed;
        right: 4%;
    }

    .botao {
        padding: 0px 25px;
        margin: 0px 20px 0px 0px;
        width: 50%;
    }

    img#menu-img {
        position: relative;
        right: 20%;
    }

    h1 {
        margin: 40px 0px 20px 0px;
        font-size: 1.4em;
        text-align: center;
    }

    h2 {
        font-size: 1.4em;
        text-align: center;
    }

    .box-container {
        margin-bottom: 50px;
    }

    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
}

@media screen and (min-width:1745px) {

    main {
        width: 55%;
    }

    .menu-container {
        position: relative;
        right: 82%;
        bottom: 60%;
    }
} 