@charset "UTF-8";

#logo {
    width: 5%;
    display: block;
    margin: auto;
    padding: 0px 0px 5px 0px;
}

h1 {
    text-align: center;
    font-size: 1.7em;
    margin: 0px 0px 10px 0px;
}

a {
    text-decoration: none;
}

hr {
    margin: auto;
    width: 60vw;
}

main {
    width: 50vw;
    height: 100vh;
    margin: auto;
}

.box {
    background-color: #f0f6f6; 
    background-size: 170px;

    height:250px;
    width:200px;  

    margin: 10px 0px 20px 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.349);
}

.box-1 {
    background-color: var(--BLOCOS); 
    background-size: 170px;

    height:80px;
    width:200px;  

    border-radius: 20px 20px 0px 0px;
}

.container-1 {
    padding: 0px 0px 50px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.caixas {
    background-color: var(--BLOCOS);
    background-repeat: no-repeat;
    background-position: center 65%;
    background-size: 100px;

    height:220px;
    width:220px; 
   
    margin: 35px 0px 0px 0px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.438);
}

#caixa-0 {
    background-image: url(../../../img/caixas/memoria-ram.png);
}

.shadow:hover {
    transition: transform 0.5s;
    transform: translate(-4px, -4px);
    }
      
.legenda {
    color: var(--FONT);
    
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
      
    padding: 30px 0px 0px 0px;
    }

/* RETORNO */

#return {
    width: 10px;
    display: flex;
    position: relative;
    right: 10%;
    top: 1%;
}

div > a > img:hover {
    transition: transform 0.5s;
    transform: translate(-2px, -2px);
    border-radius: 10px;
    width: 500%;
}

/* RETORNO */